@import url('https://fonts.googleapis.com/css?family=Shrikhand');

header h1{
    
    font-family: 'Shrikhand', cursive;
    background: -webkit-linear-gradient(#0a4eceab,#0fb8ce,#02ec3c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align:right;
    font-size: 3em;
}
footer p{
    text-align: center;

}
p i{
    color:red;
}
article h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 7px #4c4f54;
    text-align: center;
}
#one {
    font-size: 1.5em;
   
}
#two{
    font-size: 1.5em;
    text-align: justify;
}
#one, #two{
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    border: 2px dashed #18a5cf;
}

.col{
    display: flex;
}
.col div{
    flex: 1;
}

#art1, #art2, #art3{
    display: inline-block;
    list-style: none;
    border: 3px dashed #02ec3c;
    padding: 8px;
}
